body{
    font-family: sans-serif;
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.top-background{
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 100px;
}

p{
    margin: 0;
}

.main-text{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 8px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.top-section{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
    padding: 0;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.head-text{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.top-btn{
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 4px 24px;
    margin: 8px auto;
}

.rect{
    width: 500px;
    background-color: gray;
}

.non-img{
    width: 500px;
}

.top-mid{
    display: flex;
    flex-direction: column;
}

.empty-box{
    width: 160px;
    height: 160px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.mid-heading{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-row{
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    gap: 40px;
    margin-bottom: 100px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext{
    max-width: 163px;
    text-align: center;
    color: #1F2937;
    margin-top: 10px;
}

.bottom-mid{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    
}

.quote{
    padding-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-shrink: 0;
}

.reference{
    padding-bottom: 80px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
    font-weight: bold;
}

.bottom-section{
    margin: 100px 200px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.subheading{
    font-size: 24px;
    font-weight: bold;
}

.bottom-btn{
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 40px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding-top: 40px;
    padding-bottom: 40px;
}